extends layout2

block content
  h1 이동불가능지역 추가하기
  #map
  script.
    var positions = [];
  for result in results
    script.
      positions.push({
        lat: #{result.location[1]},
        lng: #{result.location[0]},
        name: '#{result.name}',
        id: '#{result.placeId}'
      });
  script.
    function initMap() {
      var center = positions[0] || { lat: 37.540705, lng: 126.956764 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: center
      });

      var GreenIcon = new google.maps.MarkerImage(
        "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
        );

      positions.forEach(function (pos) {
        // add one if
        if(positions[positions.length-1] === pos) {
          console.log("마지막 콘솔");
          new google.maps.Marker({
          // add one
          //icon: BitmapDescriptorFactory.fromBitmap(R.drawable.marker1),
          position: { lat: pos.lat, lng: pos.lng },
          map: map,
          title: pos.name,
          icon: GreenIcon
          /*
          label: {
           text: "가장 최근에 추가",
           color: '#79E149'
          }*/
        });} else{
          console.log("중간 콘솔");
          new google.maps.Marker({
          position: { lat: pos.lat, lng: pos.lng },
          map: map,
          title: pos.name
          });
        }
        
      });
    }
  script(
    async
    defer
    src="https://maps.googleapis.com/maps/api/js"
      + "?key=AIzaSyD7m8oiZXdt4Dhyc3j3PEmokkG-7hToeKo&callback=initMap"
  )